<theme xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/theme.xsd">
    <title>{{ THEME_NAME }}</title>
    <parent>{{ PARENT_THEME_NAME }}</parent>
</theme>
